In [1]:
t1=(101,'Ankit',23)
t1

(101, 'Ankit', 23)

In [2]:
t2=('Apple','Banana','Mango')
t2

('Apple', 'Banana', 'Mango')

In [4]:
t3=()
t4=45,
t5=(19,5,6,1)
l1=[4,5,6,7]

In [5]:
print(type(t4))

<class 'tuple'>

In [6]:
print(t1[:])

(101, 'Ankit', 23)

In [7]:
print(t1[0:])

(101, 'Ankit', 23)

In [8]:
print(t2[0:2])

('Apple', 'Banana')

In [9]:
print(t2[-1])

Mango

In [10]:
print(t1[:-1])

(101, 'Ankit')

In [11]:
del(t4)

In [12]:
print(t1*2)

(101, 'Ankit', 23, 101, 'Ankit', 23)

In [13]:
print(t1+t2)

(101, 'Ankit', 23, 'Apple', 'Banana', 'Mango')

In [14]:
print('Ankit' in t1)

True

In [15]:
print('Jigyasa' not in t1)

True

In [16]:
for i in t1:  #iteration of tuple.
    print(i)

101
Ankit
23

In [17]:
print(len(t1))

3

In [19]:
print(max(t2))
print(max(t5))

Mango
19

In [20]:
print(min(t2)) 
print(min(t5))

Apple
1

In [21]:
print(tuple([2,5]))
print(tuple(l1))

(2, 5)
(4, 5, 6, 7)

In [22]:
Students=[(1,'Ayush',45),(2,'Ankita',19)] 
for i in Students:
    print(i)

(1, 'Ayush', 45)
(2, 'Ankita', 19)

In [23]:
Students[1]=(3,'Beena',67)
for i in Students:
    print(i)

(1, 'Ayush', 45)
(3, 'Beena', 67)