In [5]:
import pandas as pd
import numpy as np

In [3]:
s1=pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
l1=['Jigyasa','Ayush','Aman','Nancy']
s2=pd.Series(l1)
s2

0    Jigyasa
1      Ayush
2       Aman
3      Nancy
dtype: object

In [6]:
# Series from Numpy 
s2=pd.Series(np.array(['Apple','Banana','Mango','Pear']))
s2

0     Apple
1    Banana
2     Mango
3      Pear
dtype: object