In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({
    'A':[4,5,2,6],
    'B':[11,2,5,8],
    'C':[1,8,66,89]
})
df

   A   B   C
0  4  11   1
1  5   2   8
2  2   5  66
3  6   8  89

In [4]:
df.idxmax(axis=0) #Returns index of maximum values along index axis.

A    3
B    0
C    3
dtype: int64

In [5]:
df.idxmax(axis=1) #Returns index of maximum values along column axis.

0    B
1    C
2    C
3    C
dtype: object

In [7]:
df.idxmin(axis=0) #Returns index of minimum values along index axis.

A    2
B    1
C    0
dtype: int64

In [8]:
df.idxmin(axis=1) #Returns index of maximum values along column axis.

0    C
1    B
2    A
3    A
dtype: object