In [1]:
import pandas as pd

In [5]:
data=pd.read_csv('marks.csv')
row1=data.loc[3]
row2=data.iloc[3]
row1==row2

Roll-no.                True
   Name                 True
     Class              True
      Marks_Obtained    True
Name: 3, dtype: bool

In [6]:
data=pd.read_csv('marks.csv')
row1=data.iloc[[4,5,6,7]]
row2=data.iloc[4:8]
row1==row2  #represents that both are giving same output.

   Roll-no.     Name        Class         Marks_Obtained
4      True      True         True                  True
5      True      True         True                  True
6      True      True         True                  True
7      True      True         True                  True